
.hero {
    padding-left:6.25em;
    padding-right:6.25em;
    padding-top:2.879375em;
    border:1px solid red;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom:1em ;
}

.hero_textcontainer {
      padding-top: 1.875em;
      padding-bottom: 1.875em;
      max-width: 690px;
      width:100%;
}
.hero_maincontainer {
    max-width:1240px;
    display: flex;
    margin-top: 6.25em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height:500px;
}
 .hero_maintext {
    font-weight:700;
    font-size:56px;
    line-height:78.4px;
 }

 .hero_maintext span {
   color:#A02279;
 }
 .hero_subtext {
    /* padding-top:2.625em;
    padding-bottom:2.625em; ; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     height:100%;
    /* min-height:200px; */
    font-weight :400;
    font-size:24px;
    line-height:35px;
    color: #434343;
 }
 .hero_input {
    border-radius: .375rem;
    border: solid 1px #e5e7eb;
      align-items: center;
      border-radius: 8px;
      display: flex;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      width: 95.8%;
 }

 .hero_input input {
   border: none;
   line-height: 130%; 
   outline: none;
   padding-left: 15px;
   width: 100%;
 }

 .hero_input button {
   background-color: #A02279;
   border: none;
   border-radius: 0 8px 8px 0;
   color: #f1f3f9;
   font-family: Red Rose, cursive;
   padding: 8px 44px;
   cursor: pointer;
 }

 .image_container {

 }



 
 @media screen and (max-width:1000px){
   .hero {
         padding-left: 1em;
         padding-right: 1em;
      }
            .hero_maintext {
               line-height: 78.4px;
            }
   .hero_maincontainer {
        flex-direction: column;
      
   }
      
.image_container {
   transform: scale(0.8);
}

   .navlinks {

   }
 }
/* 

  .hero_maincontainer {
     flex-direction: column;
  }

  .logo_container {} */