



.card_container {
border: 1px solid #D7D7D7;
border-radius: 15px;
padding:16px;
}

.details {

}
.card_container {

}





.text_container1 {
    display: flex;
    /* justify-content: space-between; */
}

.text_container2 {

}


.stars {
    display: flex;
    
}