



.card_container {
border: 1px solid #D7D7D7;
border-radius: 15px;
padding:16px;
}

.details {

}
.card_container {

}

.text_small {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
}


.text_container1 {
    display: flex;
    /* justify-content: space-between; */
}

.text_container2 {

}


.stars {
    display: flex;
}