



.card_container {
border: 1px solid #D7D7D7;
min-height: 31.25remm;
border-radius: 15px;
padding:16px;
}

.details {
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 3em;
}
.card_container {

}

.text_small {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
}


.text_container1 {
    display: flex;
    justify-content: space-between;
   
}

.text_container2 {
     display: flex;
     justify-content: space-between;
    
}


.stars {
    display: flex;
    padding-right: 0.35em;
}