

.backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 580%;
        height: 580%;
        background: rgb(0, 0, 0, 0.3);
        z-index: 1000;
}

.menu {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 50%;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 5000;
    animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}