


.nav {
    width:100%;
    display:flex;
    justify-content:space-between;
    max-width:1240px;
    align-items:center;
    /* margin-top:43px; */
    border:1px solid red;
}
.nav a {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #434343;
}

.logo {
    display: flex;
    place-items:center;
}
img {
    cursor: pointer;
}
.navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width:516px;
}