
.footer_wrapper {
    display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      gap:5em;
    width: 100%;
     max-width: 1240px;
     padding:56px 113px;
    color:white;
}
.footer_container {
    background-color: #000000;
    display: flex;
    justify-content: center;
}
.footerinfo_container {

}












.icons_container {

}
.links_container {
    display: flex;
    flex-direction:column;
     font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}