
.footer_wrapper {
    display: flex;
    color:white;
}
.footer_container {
    background-color: #000000;
}
.footerinfo_container {

}












.icons_container {

}
.links_container {
    display: flex;
    flex-direction:column;
}